body {
  background-color: #89B0AE;
}
.nav{
	background-color: #7EB19E;
	height: 20%;
}
#modalLogin{
	background-color: #89B0AE;
}

#card1{
	background-color: #555B6E;
}
#modalSignUp{
	background-color: #89B0AE;
}
}